#news {
    width: 100%;
    padding: 200px 0;

    .inner {
        width: 1180px;
        margin: 0 auto;
        position: relative;

        h1 {
            font: bold 24px/1 'arial';
            color: #555;
            text-align: center;
            margin-bottom: 50px;
        }

        .wrap {
            width: 100%;

            &::after {
                content: '';
                display: block;
                clear: both;
            }

            article {
                width: 280px;
                float: left;
                margin-right: 20px;

                &:last-child {
                    margin-right: 0;
                }

                .pic {
                    width: 100%;
                    height: 120px;
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                h2 {
                    margin-bottom: 10px;

                    a {
                        font: bold 16px/1 'arial';
                        color: #555;
                    }
                }

                p {
                    font: 14px/1.3 'arial';
                    color: #777;
                }
            }
        }
    }
}