#visual {
    width: 100%;
    height: calc(100vh - 121px);
    /* 브라우저 전체 높이 100vh - 헤더 높이 (inner120px + border-bottom 1px) */
    background: #000;
    overflow: hidden;
    position: relative;

    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.4;
    }

    .inner {
        width: 1180px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        h1 {
            font: normal 120px/1 'arial';
            color: #fff;
            margin-bottom: 20px;
        }

        p {
            font: 16px/1.4 'arial';
            color: #888;
            margin-bottom: 80px;
        }

        a {
            display: block;
            width: 400px;
            height: 30px;
            border: 1px solid #bbb;
            font: bold 11px/30px 'arial';
            color: #fff;
            text-align: center;

            &:hover {
                background: #fff;
                color: #555;
            }
        }
    }
}